<ion-view style="background-color: transparent;">
    <button class="button button-clear infoCloseButton" ng-click="closeDeliveryInfoPopup()">
        <img src="img/close.png" style="width:25px">
    </button>
    <div class="infoBlock">
		<!--
        <div class="infoMainImg" >

        </div>
		-->
        <div class="infoPlaceHolder">
		
           <!-- <div class="infoLogo" >
				<img ng-if="deliveryInfoArray.supplierData[0].image" src="{{host}}/{{item.supplierData[0].image}}" style="width:100%;">
				<img ng-if="!deliveryInfoArray.supplierData[0].image" src="img/empty_logo.png" style="width:100%;">
            </div>-->
		
            <div class="infoText">
				
				<div ng-if="user_type != '3'">
					<p class="infoTextDesc" style="margin-top:4px;">שם הלקוח: {{deliveryInfoArray.supplierData[0].name}} &nbsp; טלפון: <span style="text-decoration:underline;" ng-click="dialPhone(deliveryInfoArray.supplierData[0].phone)">{{deliveryInfoArray.supplierData[0].phone}}</span></p>
					<p class="infoTextDesc">כתובת: {{deliveryInfoArray.supplierData[0].address}}</p>
					<p class="infoTextDesc">עיר: {{deliveryInfoArray.supplierData[0].city}} &nbsp; מספר בית: {{deliveryInfoArray.supplierData[0].house_number}}</p>
					<p class="infoTextDesc">קומה: {{deliveryInfoArray.supplierData[0].floor}} &nbsp; דירה: {{deliveryInfoArray.supplierData[0].apartment}}</p>
					<p class="infoTextDesc">שעת ההזמנה: {{GetTime(deliveryInfoArray.date)}}</p>
					<p class="infoTextDesc" ng-if="deliveryInfoArray.price">מחיר: {{deliveryInfoArray.price}}&#8362; </p>
				</div>
				<hr />
				<p class="infoTextDesc" style="margin-top:4px;">פרטי ההזמנה: {{deliveryInfoArray.details}}</p>
				<p class="infoTextDesc">הערות: {{deliveryInfoArray.remarks}}</p>
		
            </div>
			<!--
            <div class="infoButtons">
                <div class="infoPhone">
                    <a href="tel:{{ Details.phone }}"><img src="img/phone_icon.png" width="30"></i></a>
                </div>
            </div>
			-->
        </div>
    </div>
</ion-view>
