<ion-view view-title="{{navTitle}}" style="direction:rtl" cache-view="false" hide-back-button="false">


  
  
  
<ion-header-bar  style="background-color:#f1f2f2;top:40px; height:80px;">

		
	<div style="width:100%" align="center" class="bar_top_menu" >
		<div class="button-bar" style="direction:ltr !important; margin-top:10px;">
			<a class="button" ng-class="{'tabsActive': ActiveTab == 2 , 'tabsNotActive': ActiveTab != 2 }" ng-click="setActiveTab(2)">צ'ט </a>
			<a class="button" ng-class="{'tabsActive': ActiveTab == 1 , 'tabsNotActive': ActiveTab !=  1 }" ng-click="setActiveTab(1)">משלוחים </a>
			<a class="button" ng-class="{'tabsActive': ActiveTab == 3 , 'tabsNotActive': ActiveTab != 3 }" ng-click="setActiveTab(3)">הזמן משלוח</a>
		</div>

		</div>		
</ion-header-bar> 



    <div class="bar bar-footer" ng-if="ActiveTab == 2">
        <div ng-click="imageOptions()" class="col col-40px" style="margin-top: -5px;">
            <i class="ion-camera" style="font-size:30px; line-height:30px; vertical-align:center"></i>
        </div>
        <label class="item item-input-inset col rounded" style="margin-left: 10px">
            <input type="text" style="direction:rtl; width: 100%;margin-top: -5px;"
                    id="chatInput" focusMe autofocus
                    placeholder="רשום הודעה..."
                    ng-model="fields.chatbox"
                    ng-keypress="enterPress($event)" />
        </label>
        <button class="button button-small button-energized col col-70px" ng-click="sendChat(0)">
            שלח
        </button>
    </div>
	


	
    <ion-nav-buttons side="left">
        <div  ng-click="showInformationPopup()" class="item-icon-left" href="#" style="text-decoration:none; width:40px; margin:0px; margin-top:-3px; padding:0px; margin-left:3px; ">
            <i class="ion-information-circled" style="font-weight:bold; color:orange; font-size:35px;" ></i>
        </div>
		

    </ion-nav-buttons>

    <ion-content class="has-header has-footer chat" style="top:120px;  background-color:transparent !important;  background-size: 100% 100%;   background-repeat:repeat-y; background-image: url('img/main_bck_1.jpg'); " overflow-scroll="false">
    
	
	
   <!-- <div class="bckImg" style="margin-top:-30px; opacity:0.2">
      		<img src="img/main_bck.jpg" style="width:100%" />
      </div> -->
	  
	  <div ng-if="ActiveTab == 1 || ActiveTab == 2" align="center">
		<div class="BlueButton"  style="margin-top:10px;" ng-click="showLoginOptions()">
			יש תחילה להתחבר או להרשם
		</div>	
	  </div>

		
        <div class="order" ng-if="ActiveTab == 3">
		
            <h4>הזמנת משלוח</h4>
            <div class="list">
                <label class="item item-input text_message">
                    <textarea placeholder="מה תרצו להזמין?" style="margin-top:6%" ng-model="orderfields.details"></textarea>
                </label>
                <label class="item item-input text_message">
                    <textarea placeholder="הערות" style="margin-top:6%" ng-model="orderfields.desc"></textarea>
                </label>
            </div>
            <div class="change">
	            <button class="button button-block button-clear box1" >
	                <span style="color:#fff;">שינוי פרטי לקוח</span>
	            </button>
	            <button class="button button-block button-clear box2" ng-click="showLoginOptions()">
	                <span>שליחה</span>
	            </button>
	        </div>
			
			

			
			
        </div>
		
		
       
    </ion-content>
	
	
           <script id="chat-image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeChatImage()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  overflow-scroll="false" direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{bigChatImage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>

		  
	
</ion-view>