<ion-view view-title="אוורסט משלוחים" cache-view="false">

<!--
<ion-nav-bar align-title="center">
	<ion-nav-title style="color:#ababab; font-weight:bold; font-size:16px;">אוורסט משלוחים</ion-nav-title>
</ion-nav-bar>
-->


  <ion-content>
  
	<!--
	<button class="button button-full button-positive" ng-click="getAdminMap()">
	  רענון
	</button>
	-->
  
	<div class="mapWrapper" >
		<div id="map" data-tap-disabled="true" ng-style="GoogleMapStyle" ></div>
	</div>
	
	
	
  </ion-content>
</ion-view>
