<ion-view view-title="אוורסט משלוחים" cache-view="false">

<!--
<ion-nav-bar align-title="center">
	<ion-nav-title style="color:#ababab; font-weight:bold; font-size:16px;">אוורסט משלוחים</ion-nav-title>
</ion-nav-bar>
-->
  <ion-content>
    <div class="title">
      <h2>הרשמה</h2>
    </div>
      <div class="list">
        <label class="item item-input login">
          <input type="text" ng-model="registerfields.name" dir="rtl" placeholder="שם לקוח" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login">
          <input type="text" ng-model="registerfields.city" dir="rtl" placeholder="עיר/ישוב" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login">
          <input type="text" ng-model="registerfields.address" dir="rtl"  placeholder="כתובת" g-places-autocomplete force-selection="false" options="autocompleteOptions" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login">
          <input type="tel" ng-model="registerfields.house_number" dir="ltr" placeholder="מספר בית" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login">
          <input type="tel" ng-model="registerfields.floor" dir="ltr" placeholder="קומה" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login">
          <input type="tel" ng-model="registerfields.apartment" dir="ltr" placeholder="דירה" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login">
          <input type="tel" ng-model="registerfields.phone" dir="ltr" placeholder="טלפון" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login">
          <input type="text" ng-model="registerfields.username" dir="ltr" placeholder="שם משתמש" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login" >
          <input type="password" placeholder="סיסמה" dir="ltr" ng-model="registerfields.password" style="text-align:right; margin-top:-5px">
        </label>
        <label class="item item-input login" >
          <input type="text" dir="ltr" placeholder="דואר אלקטרוני, לקבלת חשבוניות וקבלות" ng-model="registerfields.email" style="text-align:right; margin-top:-5px">
        </label>		
        <label class="item">
          <button class="button button-block button-positive entrance" type="submit" ng-click="doRegister()">כניסה</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive exit" ui-sref="app.login()">התחברות</button>
        </label>		
      </div>
  </ion-content>
</ion-view>
