<ion-view view-title="{{navTitle}}" style="direction:rtl" cache-view="false" hide-back-button="true">


  
  
  
<ion-header-bar  style="background-color:#f1f2f2;top:40px; height:80px;">

		
	<div style="width:100%" align="center" class="bar_top_menu" >
		<div class="button-bar" style="direction:ltr !important; margin-top:10px;">
			<a class="button" ng-class="{'tabsActive': ActiveTab == 2 , 'tabsNotActive': ActiveTab != 2 }" ng-click="setActiveTab(2)">צ'ט <span ng-if="unreadChatMessages > 0 " class="badge badge-assertive">&nbsp;</span></a>
			<a class="button" ng-if="user_type == 2" ng-class="{'tabsActive': ActiveTab == 4 , 'tabsNotActive': ActiveTab !=  4 }" ng-click="setActiveTab(4)">לקוח פרטי <span ng-if="uncompletePrivateDeliveries > 0 && user_type == 2" class="badge badge-assertive">{{uncompletePrivateDeliveries}}</span></a>
			<a class="button" ng-class="{'tabsActive': ActiveTab == 1 , 'tabsNotActive': ActiveTab !=  1 }" ng-click="setActiveTab(1)">משלוחים <span ng-if="uncompleteRegularDeliveries > 0 && user_type == 2" class="badge badge-assertive">{{uncompleteRegularDeliveries}}</span></a>
			<a class="button" ng-if="user_type == 0" ng-class="{'tabsActive': ActiveTab == 0 , 'tabsNotActive': ActiveTab != 0 }" ng-click="setActiveTab(0)">הזמן</a>
			<a class="button" ng-if="user_type == 3" ng-class="{'tabsActive': ActiveTab == 3 , 'tabsNotActive': ActiveTab != 3 }" ng-click="setActiveTab(3)">הזמן משלוח</a>
		</div>
	
	

		</div>		
</ion-header-bar> 

    <div class="bar bar-footer" ng-if="ActiveTab == 2 && user_type != 2">
        <div ng-click="imageOptions()" class="col col-40px" style="margin-top: -5px;">
            <i class="ion-camera" style="font-size:30px; line-height:30px; vertical-align:center"></i>
        </div>
        <label class="item item-input-inset col rounded" style="margin-left: 10px">
            <input type="text" style="direction:rtl; width: 100%;margin-top: -5px;"
                    id="chatInput" focusMe autofocus
                    placeholder="רשום הודעה..."
                    ng-model="fields.chatbox"
                    ng-keypress="enterPress($event)" />
        </label>
        <button class="button button-small button-energized col col-70px" ng-click="sendChat(0)">
            שלח
        </button>
    </div>
	

    <div class="bar bar-footer" style="padding:0px !important; margin:0px !important; " ng-if="ActiveTab == 0">
        <div class="tekenFooter">
            זמן תקן : {{deliveryTime}} דקות
        </div>
    </div>
	
    <ion-nav-buttons side="left">
        <div ng-show="user_type == '3'" ng-click="showInformationPopup()" class="item-icon-left" href="#" style="text-decoration:none; width:40px; margin:0px; margin-top:-3px; padding:0px; margin-left:3px; ">
            <i class="ion-information-circled" style="font-weight:bold; color:orange; font-size:35px;" ></i>
        </div>
		

		<div ng-if="user_type == '1'" ng-click="enableBackGroundLocation()">
			<i ng-class="BackgroundLocation == '1' ? 'ion-ios-location' : 'ion-ios-location-outline'"  style="font-size:40px;"></i>
		</div>
		
    </ion-nav-buttons>

    <ion-content class="has-header has-footer chat" style="top:120px;  background-color:transparent !important;  background-size: 100% 100%;   background-repeat:repeat-y; background-image: url('img/main_bck_1.jpg'); " overflow-scroll="false">
    
	
	
   <!-- <div class="bckImg" style="margin-top:-30px; opacity:0.2">
      		<img src="img/main_bck.jpg" style="width:100%" />
      </div> -->
        <div style="width:100%; z-index:100" align="center" >


            <div ng-if="ActiveTab == 0">
			
                <h4>הזמנת משלוח</h4>
                <div class="loginForm" align="center">
                    <div style="width:95%">
					
					
                        <div class="inputRowGrey">
                            <input type="tel" placeholder="הכנס מספר טלפון" ng-blur="checkPhone()" ng-model="fields.phone" style="background-color:transparent; color:#000000">
                        </div>

						
                        <div class="inputRowGrey">
                            <input type="text" placeholder="הכנס כתובת למשלוח" ng-model="fields.address" ng-blur="getCityBlur()"  style="background-color:transparent; color:#000000" g-places-autocomplete force-selection="false" options="autocompleteOptions">
                        </div>
						
						<!--
                        <div class="inputRowGrey">
                            <input type="text" placeholder="הכנס שם עיר" style="background-color:transparent; color:white" ng-model="fields.city">
                        </div>
						
                        <div class="inputRowGrey">
                            <input type="text" placeholder="הכנס שם הרחוב" style="background-color:transparent; color:white" ng-model="fields.street">
                        </div>

                        <div class="inputRowGrey">
                            <input type="number" placeholder="הכנס מספר רחוב" style="background-color:transparent; color:white" ng-model="fields.streetnumber">
                        </div>
						-->
                        <div class="inputRowGrey">
                            <input type="tel" placeholder="הכנס מספר בית" style="background-color:transparent; color:#000000; width:100%" ng-model="fields.housenumber">
                        </div>


						
                    </div>
                </div>
				
				<div style="width:100%" ng-if="googlePlacesFound" align="center" style="margin:3px;">
					<div style="color:red; font-size:bold;" >לא ניתן להציג מיקום</div>
				</div>
				
                <div style="width:100%" align="center">
                    <div class="BlueButton" style="width:95%;" ng-click="addDelivery()">
                        אשר
                    </div>
                </div>

            </div>
            <div ng-if="ActiveTab == 1">
			
			
			
                <div class="" style="width:100%; margin-top:-5px;" align="center">
                    <div class="" style="width:94%;">
                        <div class="button-bar" style="direction:ltr !important; margin-top:10px;">
                            <a class="button" ng-class="{'tabsActive': DeliveryStatusTab == 1 , 'tabsNotActive': DeliveryStatusTab !=  1 }" ng-click="changeTabDelivery(1)">משלוחים שהסתיימו</a>
                            <a class="button" ng-class="{'tabsActive': DeliveryStatusTab == 0 , 'tabsNotActive': DeliveryStatusTab != 0 }" ng-click="changeTabDelivery(0)">משלוחים פתוחים</a>
						</div>
                    </div>
                </div>
		    
				
                <div class="restList">
                    <div class="restListItem" ng-repeat="item in DeliverysArray | filterByStatus:DeliveryStatusTab" ng-class="{
							DeliveryStatusColor0: item.time == '',
							DeliveryStatusColor1: item.time != '' && item.deliverman_id =='0',
							DeliveryStatusColor2: item.deliverman_id != '0' && item.status > 0
							}">
							
						
                        
						<div class="listImg" align="center">
                            <div class="logo" style="width:70%">
                                <img ng-if="item.supplierData[0].image" src="{{host}}/{{item.supplierData[0].image}}" style="width:100%;">
                                <img ng-if="!item.supplierData[0].image" src="img/empty_logo.png" style="width:100%;">
                            </div>
                        </div>
						
                        <!-- regular delivery -->
                        <div class="main_info"  ng-if="item.type == 0">
                            <div class="delete" ng-if="user_type == 2" ng-click="cancelDelivery($index,item.index)">
                                <i class="ion-ios-close-outline"></i>
                            </div>
                            <div class="deliveryInfo" style="overflow:hidden">
                            	<div class="deliveryName">
                            		{{item.supplierData[0].name}}
									<div class="deliveryName" style="display:inline;" ng-if="user_type == 0 || user_type == 2" class="regularAdress">- סטטוס: {{deliveryStatus(item.status)}}</div>
                            	</div>

                            	<div class="infoLine">
                        			<a href="" ng-click="navigateLocation(item.location_lat,item.location_lng)">{{item.address}} <span ng-if="item.house_number"> -  מס' בית: {{item.house_number}}</span></a>
                            	</div>
								
								
								<!--
                            	<div class="infoLine">
                        			<p ng-if="item.house_number">מספר בית:  {{item.house_number}}</p>
									<p ng-if="item.sda">קומה: {{item.supplierData[0].name}}</p>
									<p ng-if="item.sda">דירה: {{item.supplierData[0].name}}</p>
                            	</div>								
								-->




                                <div class="timeRow"  style=" border:1px solid black; margin-top:6px; " >
                                        <div class="timeRowLine"  >
                                            <p>שעת הזמנה :</p><p>{{GetTime(item.date)}}</p>
                                        </div>
                                        <div class="timeRowLine" ng-style="item.timeupdated == 1  && {'color':'#fff', 'background-color':'red'}" style="border-left:1px solid black; border-right:1px solid black; ">
                                            <p>הגעת שליח :<br />
                                                <span ng-if="item.time">{{item.time}}</span>
                                                <span ng-if="!item.time"> ------</span>
                                            </p>
                                        </div>
                                        <div class="timeRowLine" ng-style="item.arrival_time_updated == 1  && {'color':'#fff', 'background-color':'red'}">
                                            <p>אצל הלקוח :<br />
                                                <span ng-if="item.estimated_time"> {{item.estimated_time}} </span>
                                                <span ng-if="!item.estimated_time"> ------ </span>
                                            </p>
                                        </div>
                                </div>
                          		<div class="infoLine">
	                            <div class="deliveryButtons" >
								<!--
	                            	<div class="btn_bar" ng-if="user_type == 1" align="left" ng-click="updateDeliveryStatus($index,item.index,item.status)">
			                            <button class="button-clear addTimeButton1 rounded" ng-if="item.status == 1">קיבלתי</button>
			                            <button class="button-clear addTimeButton2 rounded" ng-if="item.status == 2">בטיפול</button>
			                            <button class="button-clear addTimeButton3 rounded" ng-if="item.status == 3"><i class="icon ion-checkmark"></i> נמסר</button>
			                        </div>
							    -->
									<div class="btn_bar" ng-if="user_type == 1" align="left" ng-click="updateDeliveryStatus($index,item.index,item.status)">
	                                <button class="button-clear rounded addTimeButton3"  style="padding:3px; padding-right:7px; padding-left:7px;">
	                                    <p ng-if="item.status == 0">קיבלתי</p>
										<!-- <p ng-if="item.status == 1">בטיפול</p> -->
										<p ng-if="item.status == 1 || item.status == 3"><i class="icon ion-checkmark"></i> נמסר</p>
	                                </button>
									</div>
								
			                        <button class="button-clear rounded addTimeButton3"
			                        		ng-click="changeDeliveryPopup($index,item.index,item.company_id,item.deliverman_id)"
			                        		ng-if="user_type == '2'  && item.time && item.deliverman_id != '0'" style="padding:3px; padding-right:7px; padding-left:7px;">
	                                      {{item.deliveryData[0].name}}
	                                </button>
									
	                                <button class="button-clear rounded addTimeButton3" ng-click="openTimePopup($index,item.index,item.date,item.company_id,item.time,item.deliverman_id,0)"  ng-if="user_type == '2' " style="padding:3px; padding-right:7px; padding-left:7px;">
	                                    <p ng-if="item.time" >שינוי שעת משלוח</p>
										<p ng-if="!item.time" >הזן שעת משלוח</p>
	                                </button>
									
	                                <button class="button-clear rounded addTimeButton3" ng-click="openTimePopup($index,item.index,item.date,item.company_id,item.time,item.deliverman_id,1)"  ng-if="user_type == '2' && item.estimated_time" style="padding:3px; padding-right:7px; padding-left:7px;">
	                                    <p  >שינוי אצל הלקוח</p>
	                                </button>

									
	                                <button class="button-clear rounded addTimeButton3" ng-click="openDeliveryPopup($index,item.index,item.company_id)" ng-if="user_type == '2'  && item.time && item.deliverman_id == '0'" style="padding:3px; padding-right:7px; padding-left:7px;">
	                                    <p>בחירת שליח</p>
	                                </button>

									
									
	                            </div>
	                            <div class="phoneButtons">
                            		<div ng-if="user_type == 1">
		                                <div class="phone" ng-if="item.supplierData[0].phone" ng-click="dialPhone(item.supplierData[0].phone)"><i class="ion-ios-telephone"></i><span>חיוג למסעדה</span></div>
		                                <div class="phone" ng-if="item.phone" ng-click="dialPhone(item.phone)"><i class="ion-ios-telephone"></i><span>חיוג ללקוח</span></div>
		                            </div>
	                            </div>
                            </div>
							<!--
                            <div class="add_chat">
                                <button class="button-clear addChat"><i class="icon ion-chatbox-working"></i></button>
                            </div>
							-->
						<!--
						<div style="color:red; font-size:bold;" ng-if="item.timeupdated == 1">* שעת הגעת שליח עודכנה</div>
						<div style="color:red; font-size:bold;" ng-if="item.arrival_time_updated == 1">* שעת אצל הלקוח עודכנה</div>
						-->
                        </div>
						</div>
						
						
                        
						<!-- private custumer delivery -->
						
                        <div class="listInfo" ng-if="item.type == 1" style="text-align:right;">
						<div ng-click="showDeliveryInfo(item)" style=""><i class="ion-information-circled" style="left:20px; font-size:30px; position:absolute"></i></div>
						<div class="timeRow" >
								<div class="timeRowLine">
									<p>שעת הזמנה :</p><p>{{GetTime(item.date)}}</p>
								</div>
								
								<div class="timeRowLine">
									<p>זמן אספקה משוער :<br />
										<span ng-if="item.time">{{item.time}}</span>
										<span ng-if="!item.time"> ------</span>
									</p>
								</div>
								
								<!--
								<div class="timeRowLine">
									<p>זמן אספקה משוער :<br />
										<span ng-if="item.estimated_time"> {{item.estimated_time}} </span>
										<span ng-if="!item.estimated_time"> ------ </span>
									</p>
								</div>
								-->
						</div>
						<p><a href="" ng-click="navigateLocation(item.supplierData[0].location_lat,item.supplierData[0].location_lng)">כתובת: {{item.supplierData[0].address}} {{item.supplierData[0].house_number}}</a></p>
						<p ng-if="item.price">עלות דמי משלוח: {{item.price}}</p>		
						
						

							
							<div class="deliveryInfo">
							<div class="deliveryButtons" >
									<div class="btn_bar" ng-if="user_type == 1" align="left" ng-click="updateDeliveryStatus($index,item.index,item.status)">
	                                <button class="button-clear rounded addTimeButton3"  style="padding:3px; padding-right:7px; padding-left:7px;">
	                                    <p ng-if="item.status == 0">קיבלתי</p>
										<!-- <p ng-if="item.status == 1">בטיפול</p> -->
										<p ng-if="item.status == 1 || item.status == 3"><i class="icon ion-checkmark"></i> נמסר</p>
	                                </button>
									</div>

							</div>		
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="ActiveTab == 2" style="width:100%; margin-bottom:20px !important; background-color:transparent !important;" align="center">
		
            <!--  admin messages -->
            <div ng-if="user_type == 2">
			
			
                <div class="" style="width:97%; margin-top:-5px;" align="center">
                    <div class="" style="width:90%;">
                        <div class="button-bar" style="direction:ltr !important; margin-top:10px;">
                            <a class="button" ng-class="{'tabsActive': currentAdminChatTab == 2 , 'tabsNotActive': currentAdminChatTab !=  2 }" ng-click="changeChatTab(2)">פרטי <span ng-if="countUnreadPrivateCustumer > 0 " class="badge badge-assertive">{{countUnreadPrivateCustumer}}</span></a>
                            <a class="button" ng-class="{'tabsActive': currentAdminChatTab == 1 , 'tabsNotActive': currentAdminChatTab != 1 }" ng-click="changeChatTab(1)">מסעדות <span ng-if="countUnreadResturants > 0 " class="badge badge-assertive">{{countUnreadResturants}}</span></a>
                            <a class="button" ng-class="{'tabsActive': currentAdminChatTab == 0 , 'tabsNotActive': currentAdminChatTab != 0 }" ng-click="changeChatTab(0)">שליחים <span ng-if="countUnreadDeliveryman > 0 " class="badge badge-assertive">{{countUnreadDeliveryman}}</span></a>
						</div>
                    </div>
                </div>
				

                <div class="list">
                    <div class="item item-thumbnail-right" ng-repeat="item in AdminMessagesArray | adminMessagesFilter:currentAdminChatTab | orderBy:['-is_read','-msg_date'] " ui-sref="app.chat({ItemId: item.info[0].index})">
                        <img ng-if="item.info[0].image" src="{{host}}/{{item.info[0].image}}">
                        <img ng-if="!item.info[0].image" src="img/empty_logo.png">
                        <h2>{{item.info[0].name}}</h2>
						 <!-- <p>{{item.info[0].type}}</p> -->
						<!-- <p>{{item.is_read}}</p> -->
						<div style="width:30%; float:left; position:relative;">
							<span ng-if="item.is_read > 0" class="badge badge-assertive">{{item.is_read}}</span>
						</div>
                    </div>	
                </div>
            </div>
            <!--  end admin messages -->
            <!-- regular users chat -->
            <div  ng-if="user_type != 2" style="background-color:transparent !important">
			
			
			
		
			
			<div class="messages" style="background-color:transparent !important">
			
			
				<div class="message" collection-repeat="messages in chatArray">
					
					
					<img class="avatar" ng-if="messages.userimage" src="{{host}}/{{messages.userimage}}" style="width:50px; height:50px;">
					<img class="avatar" ng-if="!messages.userimage" src="img/avatar.png" style="width:50px; height:50px;">

							
					<div class="content" >
						<div class="text" ng-class="{'SenderMessages': messages.userid == user_local_storage , 'RecipentMessages': user_local_storage !=  messages.userid }">
							<div ng-if="messages.isImage == 0">{{messages.text}}</div>
							<div ng-if="messages.isImage == 1" ng-click="showChatModal(host+messages.text)">
								<img src="{{host}}/{{messages.text}}" style="width:100px; height:100px;">
							</div>

						</div>
					</div>
					<div class="time" style="text-align:left;">
						{{messages.date}}
					</div>				
				</div>


			</div>


				
            </div>
        </div>
        <div class="order" ng-if="ActiveTab == 3">
            <h4>הזמנת משלוח</h4>
            <div class="list">
                <label class="item item-input text_message">
                    <textarea placeholder="מה תרצו להזמין?" style="margin-top:6%" ng-model="orderfields.details"></textarea>
                </label>
                <label class="item item-input text_message">
                    <textarea placeholder="הערות" style="margin-top:6%" ng-model="orderfields.desc"></textarea>
                </label>
            </div>
            <div class="change">
	            <button class="button button-block button-clear box1" ui-sref="app.updateinfo()">
	                <span style="color:#fff;">שינוי פרטי לקוח</span>
	            </button>
	            <button class="button button-block button-clear box2" ng-click="sendDelivery()">
	                <span>שליחה</span>
	            </button>
	        </div>
			
			
			<div ng-repeat="item in privateDeliveryResponseArray" ng-if="pushprivatedelivery.enabled">
				<div class="additional_info" >
					<span style="color:#fff;">זמן אספקה משוער:&nbsp;{{item.info[0].time}}</span>
					<span style="color:#fff;">עלות דמי משלוח:&nbsp;{{item.info[0].price}} ש׳׳ח</span>
				</div>
				<div class="decision">
					<button ng-click="confirmPrivateDelivery(0,item.delivery_id)" class="button button-block button-clear icon-right order_now"><span><i class="icon ion-checkmark-round"></i>&nbsp;הזמן עכשיו</span></button>
					<button ng-click="cancelDelivery(0,item.delivery_id)" class="button button-block button-clear cancel"><span>x&nbsp;בטל</span></button>
				</div>
			</div>
			
			
        </div>
		
		
        <!-- לקוח פרטי -->
        <div ng-if="ActiveTab == 4" style="margin-bottom:20px !important;">
		
			<div class="" style="width:100%; margin-top:-5px;" align="center">
				<div class="" style="width:94%;">
					<div class="button-bar" style="direction:ltr !important; margin-top:10px;">
						<a class="button" ng-class="{'tabsActive': DeliveryStatusTab == 1 , 'tabsNotActive': DeliveryStatusTab !=  1 }" ng-click="changeTabDelivery(1)">משלוחים שהסתיימו</a>
						<a class="button" ng-class="{'tabsActive': DeliveryStatusTab == 0 , 'tabsNotActive': DeliveryStatusTab != 0 }" ng-click="changeTabDelivery(0)">משלוחים פתוחים</a>
					</div>
				</div>
			</div>

				
			<div class="restList">
			
				<div class="restListItem" ng-repeat="item in DeliverysArray | filterByStatus:DeliveryStatusTab" ng-class="{
							DeliveryStatusColor0: item.time == '',
							DeliveryStatusColor1: item.time != '' && item.deliverman_id =='0',
							DeliveryStatusColor2: item.deliverman_id != '0' && item.status > 0
							}">
					
					<div class="listImg" align="center">
						<div class="logo" style="width:70%">
							<img ng-if="item.supplierData[0].image" src="{{host}}/{{item.supplierData[0].image}}" style="width:100%;">
							<img ng-if="!item.supplierData[0].image" src="img/empty_logo.png" style="width:100%;">
						</div>
					</div>
					
					<!-- regular delivery -->
					<div class="main_info"  >
						<div class="delete" ng-if="user_type == 2" ng-click="cancelDelivery($index,item.index)">
							<i class="ion-ios-close-outline"></i>
						</div>
                        <div ng-click="showDeliveryInfo(item)"><i class="ion-information-circled" style="font-size:30px; position:absolute; left:10%; margin-top:6px;"></i></div>	
						
						<div ng-click="privateCustumerPopup($index,item.index,item.company_id,1)" ng-if="item.deliverman_id > 0"><i class="ion-edit" style="font-size:30px; position:absolute; left:20%; margin-top:6px;"></i></div>	
						
						<div class="deliveryInfo" style="overflow:hidden">
							<div class="deliveryName">
								{{item.supplierData[0].name}}
								<div class="deliveryName" style="display:inline;"  class="regularAdress">- סטטוס: {{deliveryStatus(item.status)}}</div>
							</div>

							<div class="infoLine">
								{{item.supplierData[0].address}} <span ng-if="item.house_number"> -  מס' בית: {{item.supplierData[0].house_number}}</span>
							</div>
							
							<!--
							<div class="infoLine">
								<p ng-if="item.house_number">מספר בית:  {{item.house_number}}</p>
								<p ng-if="item.sda">קומה: {{item.supplierData[0].name}}</p>
								<p ng-if="item.sda">דירה: {{item.supplierData[0].name}}</p>
							</div>								
							-->
							
							<div class="timeRow" style=" border:1px solid black; margin-top:6px;" >
									<div class="timeRowLine" style="border-left:1px solid black;  ">
										<p>שעת הזמנה :</p><p>{{GetTime(item.date)}}</p>
									</div>
									<div class="timeRowLine">
										<p>זמן אספקה משוער :<br />
											<span ng-if="item.time">{{item.time}}</span>
											<span ng-if="!item.time"> ------</span>
										</p>
									</div>
									<!--
									<div class="timeRowLine">
										<p>אצל הלקוח :<br />
											<span ng-if="item.estimated_time"> {{item.estimated_time}} </span>
											<span ng-if="!item.estimated_time"> ------ </span>
										</p>
									</div>
									-->
							</div>
							<div class="infoLine">
							<div class="deliveryButtons" >
							<!--
								<div class="btn_bar" ng-if="user_type == 1" align="left" ng-click="updateDeliveryStatus($index,item.index,item.status)">
									<button class="button-clear addTimeButton1 rounded" ng-if="item.status == 1">קיבלתי</button>
									<button class="button-clear addTimeButton2 rounded" ng-if="item.status == 2">בטיפול</button>
									<button class="button-clear addTimeButton3 rounded" ng-if="item.status == 3"><i class="icon ion-checkmark"></i> נמסר</button>
								</div>
							-->


								<button class="button-clear rounded addTimeButton3"
										ng-click="privateCustumerPopup($index,item.index,item.company_id,0)"
										ng-if="item.private_delivery_status == 0" style="padding:3px; padding-right:7px; padding-left:7px;">
									  שליחת פרטים
								</button>
								
								
								
								<button class="button-clear rounded addTimeButton3"
										ng-click="changeDeliveryPopup($index,item.index,item.company_id,item.deliverman_id)"
										ng-if="item.deliverman_id != '0'" style="padding:3px; padding-right:7px; padding-left:7px;">
									  {{item.deliveryData[0].name}}
								</button>
								
								<!--
								<button class="button-clear rounded addTimeButton3" ng-click="openTimePopup($index,item.index,item.date,item.company_id)" ng-if="user_type == '2' " style="padding:3px; padding-right:7px; padding-left:7px;">
									<p ng-if="item.time">שינוי שעת משלוח</p>
									<p ng-if="!item.time">הזן שעת משלוח</p>
								</button>
								-->
								
								<button class="button-clear rounded addTimeButton3" ng-click="openDeliveryPopup($index,item.index,item.company_id)" ng-if="item.private_delivery_status == '2' && item.time && item.deliverman_id == '0'" style="padding:3px; padding-right:7px; padding-left:7px;">
									<p>בחירת שליח</p>
								</button>

											
								
							</div>
						</div>
						<!--
						<div class="add_chat">
							<button class="button-clear addChat"><i class="icon ion-chatbox-working"></i></button>
						</div>
						-->
								
					</div>
					</div>
        </div>
        </div>
		</div>
    </ion-content>
	
	
           <script id="chat-image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeChatImage()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  overflow-scroll="false" direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{bigChatImage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script>

		  
	
</ion-view>