<ion-view style="background-color:white;">
        <button class="button button-clear orderAddedCloseButton" ng-click="closeTimeModal()">
            <img src="img/close.png" style="width:25px">
        </button>
		
		<div>
		
			<div class="list">


				
			  <div align="center">
                    <div class="addTimeButton1" ng-click="openTime()">
                        הזן שעת משלוח
                    </div>
					
                    <div class="addTimeButton1" ng-if="deliveryfields.time" ng-click="openTime()">
                        {{deliveryfields.time}}
                    </div>
					
			  </div>
                              


			</div>
		  <div style="width:100%;" align="center">
              <div class="padding" style="width:95%">
                <button class="button button-block button-positive" style="background-color:#022850; border-radius:none !important" ng-click="saveDeliveryTime()">שמירה</button>
              </div>
		 </div>
	  

		</div>

</ion-view>
